<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Customizable Stock Ticker</h1>
      <highchart id="chart1" config="main.chartConfig"></highchart>
    </div>
  </div>

  <div class="row">
    <div class="stocks-box">

      <!-- list of active stocks-->
      <div class="stock-info-block" ng-repeat="stock in main.stocks">
        <h4 class="stock-info-line">{{ stock.code}} - {{ stock.name }}<button type="button" class="close" ng-click="main.deleteStock(stock)">&times;</button></h4>
      </div>

      <!-- add new stock -->
      <div class="new-stock-block">
        <label class="new-stock-title">Add a new stock.</label>
        <form novalidate>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Stock code here" ng-model="main.newStock" />
            <span class="form-group-button">
              <button class="btn btn-success" type="submit" ng-click="main.addStock()">Add</button>
            </span>
          </div>
        </form>
      </div>
        
    </div>
  </div>
</div>

<footer></footer>
