
#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.page-header {
  color: #B0B0BF;
  padding: 10px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.stocks-box {
  padding: 2% 0 0 0;
  
  .stock-info-block {
    background-color: #E0E0EF;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    margin: 5px 0 0 0;
  }
  
  .new-stock-block {
    background-color: #C0C0CF;
    padding: 5px;
    border-radius: 10px; 
    margin: 2%;
    text-align: center;
    
    .new-stock-title {
      text-align: center;
      font-size: 20px;
    }
    
    .form-group {
      padding: 5px 3% 5px 5%;
      
      .form-control {
        display: inline-block;
        width: 91%;
        padding: auto;
      }
      .form-group-button {
        display: inline-block;
        width: 8%;
        position: relative;
        top: -2px;
      }
    }
    
  }
}